body{
  background-color:#5CDB95;
}
h1 {
  background-color:#05386B;
  color:#5CDB95;
  text-align:center;
  font-family:verdana;
  font-size:60px;
}
h2 {
  color:#05386B;
  font-style:italic;
}
p{
  color:#05386B;
}
ul{
  line-height: 50px;
}
